# URL của Backend API
NEXT_PUBLIC_API_URL=

# NEXT_PUBLIC_GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

# Discord Webhook URL for Contact Form
NEXT_PUBLIC_DISCORD_WEBHOOK_URL=

# Discord Webhook URL for Custom Order Form
NEXT_PUBLIC_DISCORD_CUSTOM_ORDER_WEBHOOK=